header {
  background-color: #48483A;
  color: #FFF2F1;
  text-align: center;
  padding: 7px;
}

header h1, h3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.img-padding {
  padding:25px;
}

body {
  background-color: rgb(238, 238, 238);
  min-width: 350px;
}

h2 {
  text-align: center;
}

footer {
  background-color: #48483A;
  color: #FFF2F1;
  text-align: center;
  padding: 20px;
  font-size: 12px;
}

.wrapper {
  width: 550px;
  margin: auto;
}

main p, ul, ol {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  color: #48483A;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #48483A;
}

img {
  width: 550px;
  text-align: center;
}

.circular-img {
  border-radius: 50%;
}

.centered-img {
  text-align: center;
}

section {
  padding: 10px;
}  

hr {
  border: none;
  background-color: #48483A;
  width: 400px;
  height: 1px;
  margin: auto;
}

/* Link Colors */
a:link    { color:  hsl(120, 100%, 25%);  }
a:visited { color: hsl(120, 100%, 5%); }
a:active  { color: hsl(120, 100%, 15%); }
