header {
  background-color: #48483A;
  color: #FFF2F1;
  text-align: center;
}

header h1 {
  padding: 50;
}


body {
  background-color: rgb(238, 238, 238);
  min-width: 350px;
}

h2 {
  text-align: center;
}

footer {
  background-color: #48483A;
  color: #FFF2F1;
  padding: 5px;
  font-size: 12px;
}

.wrapper {
  width: 400px;
  margin: auto;
}

img {
  width: 400px;
  text-align: center;
}

.circular-img {
  border-radius: 50%;
}

.centered-img {
  text-align: center;
}
  
hr {
  margin-top: 50px;
  margin-bottom: 50px;
}
